.home-wrapper {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-image: url("../../../public/images/background.webp");

  .character {
    height: var(--image-height);
    background-image: var(--image-url);
    width: calc(var(--image-width) / var(--number-of-frame));
  }

  .animated {
    animation: Animated var(--speed) steps(var(--number-of-frame)) infinite;
  }
}

@keyframes Animated {
  from {
    background-position: 0 0;
  }

  to {
    background-position: var(--image-width) 0;
  }
}
